<h1>welcome to bookers!!</h1>
    <p>In Bookers,</p>

    <p>you can share and exchange your opinions , inpressions , and emotions<br />
      about various books!</p>

    <%= link_to "Login",new_user_session_path %>
    <p>sign in</p>